<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
        <add name="EMMCRADQaParse.My.MySettings.radqaNorthConnectionString"
            connectionString="Driver={SQL Server};server=smg-db-hag;database=radqaNorth;uid=radqaN;pwd=Strong402"
            providerName="System.Data.Odbc" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>  
  
	<appSettings>
		<add key="QAOverreadConnStr" value="workstation id=BROWNP;packet size=4096;user id=radqaN;data source=smg-db-hag;persist security info=True;initial catalog=RadQANorth;password=Strong402;"
			 xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="OutsideDocsConnStr" value="User ID=radqaN;Tag with column collation when possible=False;Data Source=smg-db-hag;Password=Strong402;Initial Catalog=RadQANorth;Use Procedure for Prepare=1;Auto Translate=True;Persist Security Info=True;Provider='SQLOLEDB.1';Workstation ID=PBROWNLAPTOP;Use Encryption for Data=False;Packet Size=4096;"
			 xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LogFilePath" value="c:\Apps\RadNOverreadJob\autoRADQAlog.txt"
       xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	</appSettings>


  <userSettings>
    <EMMCRADQaParse.My.MySettings>
      <setting name="RiskEmail" serializeAs="String">
        <value xdt:Transform="Replace">
          shcpriskmanagement@spectrummg.com
        </value>
      </setting>
    </EMMCRADQaParse.My.MySettings>
  </userSettings>
  
</configuration>