<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EMMCRADQaParse.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </configSections>
    <connectionStrings>
        <add name="EMMCRADQaParse.My.MySettings.radqaNorthConnectionString" connectionString="Driver={SQL Server};server=shcp-sqldev;database=radqaNorth" providerName="System.Data.Odbc" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

  <appSettings>
    <add key="QAOverreadConnStr" value="workstation id=BROWNP;packet size=4096;user id=radqaN;data source=shcp-sqldev;persist security info=True;initial catalog=RadQANorth;password=Strong402;" />
	  <add key="OutsideDocsConnStr" value="Tag with column collation when possible=False;Data Source=shcp-sqldev;Integrated Security=SSPI;Initial Catalog=RadQANorth;Use Procedure for Prepare=1;Auto Translate=True;Persist Security Info=True;Provider='SQLOLEDB.1';Workstation ID=PBROWNLAPTOP;Use Encryption for Data=False;Packet Size=4096" />
    <add key="EMHPACSConnStr" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.19.142.72)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=mvf)));User ID=spectrum;Password=spect;" />
    <add key="LogFilePath" value="C:\Users\brownp.SMG\Documents\autoRADQAlog.txt" />
    <add key="RiskMgmtEmail" value="shcpriskmanagement@spectrummg.com" />
    <add key="HRConnStr" value="User ID=radqaN;Tag with column collation when possible=False;Data Source=smg-db-hag;Password=Strong402;Initial Catalog=HRDBShadow;Use Procedure for Prepare=1;Auto Translate=True;Persist Security Info=True;Provider='SQLOLEDB.1';Use Encryption for Data=False;Packet Size=4096"/>
  </appSettings>
  <userSettings>
    <EMMCRADQaParse.My.MySettings>
      <setting name="RiskEmail" serializeAs="String">
        <value>phil.brown@spectrummg.com</value>
      </setting>
    </EMMCRADQaParse.My.MySettings>
  </userSettings>
  
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
</startup>
<system.data>
<DbProviderFactories>
<remove invariant="Oracle.ManagedDataAccess.Client" />
<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
</DbProviderFactories>
</system.data>
<runtime>
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
<dependentAssembly>
<publisherPolicy apply="no" />
<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0" />
</dependentAssembly>
 <dependentAssembly>
  <assemblyIdentity name="Serilog.Sinks.File" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
  <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
 </dependentAssembly>
</assemblyBinding>
</runtime>
<oracle.manageddataaccess.client>
<version number="*">
<dataSources>
<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
</dataSources>
</version>
</oracle.manageddataaccess.client>
</configuration>
